<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @round.name %>
 
 <% if @round.has_matchups? %>
<h3>Match Ups:</h3>

<ul>
  <% @round.matchups.each do |matchup| %>
  <li><%= render matchup %></li>
  <% end %>
</ul>
<% end %>

</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
